h1 {
    text-align: center;
}

p {
    text-align: center;
}

.plot-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.plot-container {
    width: 100%; /* Adjust the width as needed */
}